* {
    fill: yellow;
    stroke: blue;
    opacity: 80%;
    stroke-width: 3px;
}

*:selected {
    fill: blue;
    stroke: white;
}

*:selected:hover {
    fill: darkblue;
}

*:hover {
    fill: orange;
}

*:click {
    fill: red;
}

.inkscape-mesh {
    shape: "circle";
}

.inkscape-mesh:selected {
    shape: "triangle";
}

.inkscape-node-smooth {
    shape: "square";
}

.inkscape-node-cusp,
.inkscape-shaper,
.inkscape-lpe {
    shape: "diamond";
}

.inkscape-node-symmetrical {
    shape: "square";
}

.inkscape-anchor {
    shape: "square";
}

.inkscape-rotate {
    shape: "circle";
}

.inkscape-adj-handle,
.inkscape-adj-skew,
.inkscape-adj-rotate,
.inkscape-adj-center {
    stroke-width: 2px;
}

.inkscape-adj-handle {
    shape: "arrow";
}

.inkscape-adj-skew {
    shape: "skew-arrow";
}

.inkscape-adj-rotate {
    shape: "curved-arrow";
}

.inkscape-adj-center {
    shape: "pivot";
}

.inkscape-adj-salign {
    shape: "side-align";
}

.inkscape-adj-calign {
    shape: "corner-align";
}

.inkscape-adj-malign {
    shape: "middle-align";
}

/*( margin -  this is only used by the page tool edge-center handles )*/
.inkscape-node-auto,
.inkscape-margin {
    shape: "circle";
}

.inkscape-sizer {
    shape: "square";
}

.inkscape-center {
    shape: "plus";
}

.inkscape-point {
    shape: "cross";
}