* {
    shape: "square";
    stroke: orange;
    fill: red;
    fill-opacity: 0.9;
    stroke-opacity: 0.9;
    opacity: 0.9;
    stroke-width: 2px;
}

.inkscape-node-auto {
    shape: "circle";
}

.inkscape-node-smooth {
    shape: "square";
}

.inkscape-node-cusp {
    shape: "diamond";
}

.inkscape-node-symmetrical {
    shape: "square";
}

.inkscape-anchor {
    shape: "square";
}

.inkscape-rotate {
    shape: "circle";
}

*:hover {
    fill: pink;
}

*:selected {
    fill: blue;
}

*:selected:hover {
    fill: turquoise;
    /* shape: "circle"; */
}

.inkscape-anchor {
    fill: gold;
    stroke: black;
}

.inkscape-anchor:hover {
    fill: red;
}

*:click {
    fill: black;
}

*:selected:click {
    fill: purple;
}